

<%= render 'form' %>


<h3>Recommended Feeds</h3>
<table>
<% @recommended_feeds.each do |recommended_feed| %>
    <tr>
      <td>
      	<%= form_for(@feed) do |f| %>
          <%= f.hidden_field :name, :value => recommended_feed.name %>
          <%= f.hidden_field :url, :value => recommended_feed.url %>
          <%= f.submit 'Add' %>
        <% end %>
     </td><td><%= recommended_feed.name %></td><td><%= recommended_feed.about %></td>
    </tr>
<% end %>
</table>
