<!DOCTYPE html>
<html>
<head>
  <title>Lezen</title>
  
  <%= stylesheet_link_tag    "feeds", :media => "all" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="wrapper2">
    <div id="header"><h1>Lezen - Hello <%= session[:user_name] if defined? session[:user_name] %>... Lets read a litte bit</h1>
    	<% if !session[:id].nil? %>
	    	<%= link_to 'Feeds List', { :controller => :feeds, :action => :index }, :class => "btn" %>
	    	<%= link_to 'Add Feed', new_feed_path, :class=> "btn" %>
	    	<%= link_to 'Edit/Delete Feed', {:controller => :feeds, :action => :modify},:class=> "btn" %>
	        <%= link_to 'Read Later Queue', { :controller => :readlater, :action => :index }, :class => "btn" %>
	        <%= link_to 'logout', {:controller=>"users", :action => "logout"}, :class => "btn" %>
	    <% end %>
    </div>
    <div class="main-content">
        <% if flash[:notice] %><div id="notice"><%= flash[:notice] %></div><% end %>
        <% if flash[:error] %><div id="error"><%= flash[:error] %></div><% end %>
        <%= yield %>
    </div>
    <div id="footer">
	  <div class="bgl"><div class="bgr">
	    Developed by <a href="http://birkoff.net">Hector Reyes Aleman - 2013</a>
      </div></div>
    </div>
  </div>
</div>
</body>
</html>
